@charset "UTF-8";

// 引入 Minecraftia 字体
@font-face {
  font-family: 'Minecraftia';
  src: url('/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Minecraftia', sans-serif;
  font-weight: 400;
}
